<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="info-container">
            <% initials=details.name.split(" ").map(name => name[0]).join("") %>
                <span class=" circle-text">
                <%= initials %>
                    </span>

                    <h1>
                        <%= details.name %>
                    </h1>

                    <span class="btn">
                        <button class=" edit-profile">Edit Profile</button>
                    </span>

                    <div class="bio">
                        <p>
                            Email: <%= details.email %>
                        </p>

                        <p>
                            Role: <%= details.role %>
                        </p>

                        <p>
                            Gender: <%= details.gender %>
                        </p>

                        <p>
                            Status: <%= details.status %>
                        </p>

                        <p>
                            id: <%= details.user_id %>
                        </p>

                        <p>
                            Date of account creation: <%= details.created_at %>
                        </p>
                    </div>



                    <form action="/userlist" class="userlist-btn-form" method="get">
                        <button class="userlist-btn" type="submit">Users List</button>
                    </form>
        </div>



    </main>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    </script>
    <script src="/js/script.js"></script>
</body>

</html>