<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/userlist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="user-list">
            <h1 class="table-caption">List of Users</h1>

            <table>
                <thead>
                    <tr class="headings">
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Alter User</th>
                    </tr>
                </thead>

                <tbody>
                    <% userList.forEach(list=> { %>
                        <tr>
                            <td>
                                <%= list.id %>
                            </td>
                            <td>
                                <%= list.name %>
                            </td>
                            <td>
                                <%= list.email %>
                            </td>
                            <td>
                                <%= list.status %>
                            </td>
                            <td>
                                <%= list.role %>
                            </td>
                            <td class="btn-cell">
                                <form class="edit" action="/edit/<%= list.id %>" method="get">
                                    <button class="edit-btn" type="submit">Edit</button>
                                </form>
                                <form class="delete" action="/delete/<%= list.id %>" method="post">
                                    <button class="delete-btn" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </main>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>